.footer {
    background-color: #0A0D24;
    color: white;
    padding: 1.5rem;
    height:90px;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .footer-content {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
  }

   p {
    font-size: 18px;
    color: rgb(229, 221, 207);
  }

  .footer-Contact #gmail-link {
    color: rgb(229, 221, 207);
    font-size: 18px;
    text-decoration: none;
  }
    .footer-Contact #gmail-link:hover {
        color: rgb(39, 255, 115);
        text-decoration: underline;
    }
    .footer-Contact #gmail-link:active {
        color: rgb(39, 255, 115);
        text-decoration: underline;
    }

    @media (max-width: 768px) {
      .footer-content {
        flex-direction: column;
        align-items:center;
        gap:20px;
      }
      .footer-Contact {
        margin-top: 0px;
      }
      .footer {
            height:190px;
        }

    }
