html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color:#0A0D24;
  color: white;
  padding:1rem;
  height:30px;
  width: 100%; 
}

.navbar-brand, .brand-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.logo {
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
}

.brand-name {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar-links {
  display: flex;
  gap: 20px;
  margin-left:150px;

}
.nav-link {
  text-decoration: none;
  color: white;
  padding: 5px 7px;
  font-size:18px;
  border-radius: 10px;
}
.log{
  margin-right: 150px;
}


#login:hover{
  color:white;
}

.log #login{
  background-color:rgb(228, 44, 11);
  border-radius: 10px;
  padding: 5px 10px;
  margin-left:15px;
}

.nav-link:hover {
  background-color: rgb(255, 255, 255);
    color: #0A0D24;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 -4px 14px rgba(5, 215, 187, 0.909);
    
}


@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 10px;
    height: auto;
  }

  .navbar-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links,
  .log {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    background-color: #0A0D24;
    padding: 10px 0;
    transition: all 0.3s ease;
  }

  .log #login{
    margin-left:0px;
  }

  .show-menu {
    display: flex !important;
  }

  .nav-link {
    padding-left: 20px;
    width: 100%;
  }

  .log {
    margin: 0;
    margin-right:50px;
  }

  .iconNavbar {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: 40px;
    font-size: 20px;
    margin-top: -40px;
  }
}




@media (min-width: 801px) {
  .iconNavbar {
    display: none;
  }
}
